@use "../../styles/mixin" as *;

.menuContainer {
  padding: 90px 1% 20px 1%;
  width: 99%;
  background-color: #f1f3f6;
  @include Flex(row, center, center);
}

.contents {
  padding: 1rem;
  width: 98%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  @include Flex(row, space-around, center);
  flex-wrap: wrap;
  gap: 1rem;
  transition: all 0.3s ease;

  @media (max-width: 992px) {
    justify-content: center;
    gap: 1.5rem;
  }

  @media (max-width: 580px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 1rem;
  }
}
